<div class="container mt-5">
  <h1 class="text-center mb-4">Totem de Autoatendimento</h1>

  <div class="row text-center">
    <div class="col-md-4 mb-4" *ngFor="let item of items">
      <div class="card h-100 shadow-sm" (click)="selectItem(item)" style="cursor: pointer;">
        <div class="card-body">
          <div class="display-1">{{ item.icon }}</div>
          <h3 class="card-title mt-3">{{ item.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="order.length > 0" class="mt-5">
    <h2 class="text-center">Pedido Atual</h2>
    <ul class="list-group">
      <li *ngFor="let item of order" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <span class="display-4">{{ item.icon }}</span>
          <span class="ml-3 h5">{{ item.name }}</span>
        </div>
        <div class="input-group" style="width: 150px;">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" (click)="decreaseQuantity(item)">-</button>
          </div>
          <input type="text" class="form-control text-center" [value]="item.quantity" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="increaseQuantity(item)">+</button>
          </div>
        </div>
      </li>
    </ul>

    <button class="btn btn-success btn-lg btn-block mt-4" (click)="finalizeOrder()">Finalizar Pedido</button>
  </div>
</div>


<div class="container mt-5">
    <h2>Lista de Pedidos</h2>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Área</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.Id }}</td>
                <td>{{getIconByName(order.Item)}} {{ order.Item }}</td>
                <td>{{ order.Quantity }}</td>
                <td>{{ order.Area }}</td>
            </tr>
        </tbody>
    </table>
</div>